<tr>
  <td>
    <a href="index.cfm?event=processes.ssda&amp;process_id={{id}}">
      {{number}}
    </a>
  </td>
  <td>{{title}}</td>
  <td>{{expiry_date}}</td>
  <td>
    <a class="delete">
      <img src="/pacific_renewal/images/applications/delete.gif">
    </a>
  </td>
</tr>
<tr>
  <td colspan="4">{{comments}}</td>
</tr>
